*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    padding: 3rem 0;
}

main{
    width: 90%;
    margin: auto;
    border: 1px solid blue;
    height: 90vh;
}

.slack__display{
    border: 1px solid black;
    height: 35%;
    display: flex;
    flex-direction: column; 
    /* text-align: center; */
    position: relative;

    .slack__display--profile{
        border-radius: 50%;
        width: 17rem;
        height: 17rem;
        border: 1px solid red;
        position: absolute;
        transform: translateX(50%);
        left: calc(50% - 150px);  

        .slack__display--img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
            /* display: block; */
        }
    }

    & h1{
        border: 1px solid red;
        position: absolute;
        top: 88%;
        transform: translateX(270%);
        left: calc(50% - 150px);  
        font-size: 2rem;
    }
}