@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    padding: 3rem 0;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 80%;
    margin: auto;
    height: 90vh;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slack__display{
    /* border: 1px solid black; */
    height: 42%;
    display: flex;
    flex-direction: column; 
    position: relative;
    padding: 3.5rem 0;

    .slack__display--profile{
        border-radius: 50%;
        width: 17rem;
        height: 17rem;
        position: absolute;
        transform: translateX(50%);
        left: calc(50% - 150px);  

        .slack__display--img{
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    & h1{
        position: absolute;
        top: 88%;
        transform: translateX(238%);
        left: calc(50% - 150px);  
        font-size: 2rem;
    }
}

.slack__details{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2.4rem;

    .slack__details--div > h2{
        /* color: rgba(109, 118, 133); */
        color: lightgrey;
    }

    .slack__details--div > p{
        font-size: 1.3rem;
        font-weight: 550;
    }

    .slack__details--div > a{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 550;
        color: black;
    }

    > h2{
        font-size: 3rem;
    }
}